footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 30px;
  padding-bottom: 20px;
  border-top: 1px solid #eaeaea;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.footer-icons__desc {
  margin-top: 2px;
  font-weight: bold;
  transform: scale(0.8);
}

@keyframes icons-doong-doong {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.footer-icons__img {
  width: 30px;
}

.footer-icon:hover .footer-icons__img {
  animation: 2s icons-doong-doong;
}
